:host {
  display: inline-flex;
  border-radius: var(--border-radius);
}

:host([color="primary"]) {
  color: var(--color-white);
  background-color: var(--color-blue);
}

:host([color="secondary"]) {
  color: var(--color-blue-darken-5);
  background-color: var(--color-blue-transcluent-10);
}

:host([color="red"]) {
  color: var(--color-red-darken-5);
  background-color: var(--color-red-transcluent-10);
}

:host([color="green"]) {
  color: var(--color-green-darken-5);
  background-color: var(--color-green-transcluent-10);
}

.button {
  padding: .5rem 1rem;
  background: transparent;
  border: none;
  font-size: var(--font-size);
  color: currentColor;
}
