:root {
  --color-white: #fff;
  --color-black: #000;

  --color-gray: 89, 106, 129;
  --color-gray-1: rgba(var(--color-gray), 100%);
  --color-gray-2: rgba(var(--color-gray), 83.33%);
  --color-gray-3: rgba(var(--color-gray), 66.66%);
  --color-gray-4: rgba(var(--color-gray), 50%);
  --color-gray-5: rgba(var(--color-gray), 33.33%);
  --color-gray-6: rgba(var(--color-gray), 16.66%);

  --color-blue: 22, 118, 243;
  --color-blue-1: rgba(var(--color-blue), 100%);
  --color-blue-2: rgba(var(--color-blue), 83.33%);
  --color-blue-3: rgba(var(--color-blue), 66.66%);
  --color-blue-4: rgba(var(--color-blue), 50%);
  --color-blue-5: rgba(var(--color-blue), 33.33%);
  --color-blue-6: rgba(var(--color-blue), 16.66%);

  --color-red: 245, 36, 25;
  --color-red-1: rgba(var(--color-red), 100%);
  --color-red-6: rgba(var(--color-red), 16.66%);

  --color-green: 56, 201, 118;
  --color-green-1: rgba(var(--color-green), 100%);
  --color-green-2: rgba(var(--color-green), 83.33%);
  --color-green-3: rgba(var(--color-green), 66.66%);
  --color-green-4: rgba(var(--color-green), 50%);
  --color-green-5: rgba(var(--color-green), 33.33%);
  --color-green-6: rgba(var(--color-green), 16.66%);
}
