:root {
  --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-weigth: 400;
  --font-weigth-bold: 700;
  /* Font size is the basis of all other measurements */
  --font-size: 16;
  /* Line height is the basis for vertical spacing */
  --line-height: calc(var(--font-size) * 1.5px);

  --color-gray: 89, 106, 129;
  --color-gray-1: rgba(var(--color-gray), 100%);
  --color-gray-2: rgba(var(--color-gray), 83.33%);
  --color-gray-3: rgba(var(--color-gray), 66.66%);
  --color-gray-4: rgba(var(--color-gray), 50%);
  --color-gray-5: rgba(var(--color-gray), 33.33%);
  --color-gray-6: rgba(var(--color-gray), 16.66%);

  --color-blue: 22, 118, 243;
  --color-blue-1: rgba(var(--color-blue), 100%);
  --color-blue-6: rgba(var(--color-blue), 16.66%);

  --color-red: 245, 36, 25;
  --color-red-1: rgba(var(--color-red), 100%);
  --color-red-6: rgba(var(--color-red), 16.66%);

  --shadow: 0 .5em 1em rgba(var(--color-gray), .25);
}

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  font-size: calc(var(--font-size) * 1px);
  font-family: var(--font-family);
  font-weight: var(--font-weigth);
  line-height: var(--line-height);
  color: var(--color-gray-1);
}
