z-banner {
  display: block;
  padding: 1rem;

  &[color="sky"] { background: var(--color-sky); color: var(--color-ink) }
  &[color="blue"] { background: var(--color-blue-transcluent-10); color: var(--color-blue-darken-5) }
  &[color="red"] { background: var(--color-red-transcluent-10); color: var(--color-red-darken-5) }
  &[color="yellow"] { background: var(--color-yellow-transcluent-10); color: var(--color-yellow-darken-5) }
  &[color="green"] { background: var(--color-green-transcluent-10); color: var(--color-green-darken-5) }
}
