:host {
  --color: currentColor;
  --size: 1.5rem;

  fill: var(--color);

  svg {
    width: auto;
    height: var(--size);
  }
}

:host([color="blue"]) {
  --color: var(--color-blue-darken-5);
}

:host([color="ink"]) {
  --color: var(--color-ink);
}

:host([color="green"]) {
  --color: var(--color-green-darken-5);
}

:host([color="yellow"]) {
  --color: var(--color-yellow-darken-5);
}

:host([color="red"]) {
  --color: var(--color-red-darken-5);
}

:host([size="small"]) {
  --size: 1rem;
}

:host([size="large"]) {
  --size: 3rem;
}

.icon {
  &__inner {
    display: flex;
  }
}
