:host {
  --background-color: var(--color-white);
  --color: var(--color-ink);

  display: inline-flex;
  padding: .25rem 1rem;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  color: var(--color);
  font-weight: bold;
}

:host([color="blue"]) {
  --background-color: var(--color-blue-transcluent-10);
  --color: var(--color-blue-darken-5);
}

:host([color="green"]) {
  --background-color: var(--color-green-transcluent-10);
  --color: var(--color-green-darken-5);
}

:host([color="red"]) {
  --background-color: var(--color-red-transcluent-10);
  --color: var(--color-red-darken-5);
}
