:host {
  --background-color: var(--color-gray-6);
  --color: var(--color-gray-1);

  display: inline-flex;
  padding: .25rem 1rem;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  color: var(--color);
  font-weight: bold;
}

:host([color="blue"]) {
  --background-color: var(--color-blue-6);
  --color: var(--color-blue-1);
}

:host([color="green"]) {
  --background-color: var(--color-green-6);
  --color: var(--color-green-1);
}

:host([color="red"]) {
  --background-color: var(--color-red-6);
  --color: var(--color-red-1);
}
