:host {
  --color: currentColor;
  --size: 1.5rem;

  fill: var(--color);

  svg {
    width: auto;
    height: var(--size);
  }
}

:host([color="blue-1"]) {
  --color: var(--color-blue-1);
}

:host([color="blue-2"]) {
  --color: var(--color-blue-2);
}

:host([color="blue-3"]) {
  --color: var(--color-blue-3);
}

:host([color="blue-4"]) {
  --color: var(--color-blue-4);
}

:host([color="blue-5"]) {
  --color: var(--color-blue-5);
}

:host([color="blue-6"]) {
  --color: var(--color-blue-6);
}

:host([size="small"]) {
  --size: 1rem;
}

:host([size="large"]) {
  --size: 3rem;
}
