/* Based on Raster v20 (dev package) (rsms.me/raster) */

z-grid {
  --column-gap: calc(var(--line-height) * var(--font-size));
  --row-gap: calc(var(--line-height) * var(--font-size));
  --grid-template-columns: repeat(4, 1fr);
  --grid-column-start: 1;
  --grid-column-end: -1;

  display: grid;
  grid-template-columns: var(--grid-template-columns);
  grid-column-gap: var(--column-gap);
  grid-row-gap: var(--row-gap);

  &[columns="1"] { --grid-template-columns: repeat(1, 1fr) }
  &[columns="2"] { --grid-template-columns: repeat(2, 1fr) }
  &[columns="3"] { --grid-template-columns: repeat(3, 1fr) }
  &[columns="4"] { --grid-template-columns: repeat(4, 1fr) }
  &[columns="5"] { --grid-template-columns: repeat(5, 1fr) }
  &[columns="6"] { --grid-template-columns: repeat(6, 1fr) }
  &[columns="7"] { --grid-template-columns: repeat(7, 1fr) }
  &[columns="8"] { --grid-template-columns: repeat(8, 1fr) }
  &[columns="9"] { --grid-template-columns: repeat(9, 1fr) }
  &[columns="10"] { --grid-template-columns: repeat(10, 1fr) }
  &[columns="11"] { --grid-template-columns: repeat(11, 1fr) }
  &[columns="12"] { --grid-template-columns: repeat(12, 1fr) }

  /* cell or column */
  & > z-grid-cell {
    display: block;
    appearance: none;

    /* span=start... */
    &[span^="1"] { --grid-column-start: 1 }
    &[span^="2"] { --grid-column-start: 2 }
    &[span^="3"] { --grid-column-start: 3 }
    &[span^="4"] { --grid-column-start: 4 }
    &[span^="5"] { --grid-column-start: 5 }
    &[span^="6"] { --grid-column-start: 6 }
    &[span^="7"] { --grid-column-start: 7 }
    &[span^="8"] { --grid-column-start: 8 }
    &[span^="9"] { --grid-column-start: 9 }
    &[span^="10"] { --grid-column-start: 10 }
    &[span^="11"] { --grid-column-start: 11 }
    &[span^="12"] { --grid-column-start: 12 }

    /* span=...+width, span=...-end */
    &[span$="+1"], &[span="1"] { --grid-column-end: 1 }
    &[span$="+2"], &[span$="-1"], &[span="2"] { --grid-column-end: 2 }
    &[span$="+3"], &[span$="-2"], &[span="3"] { --grid-column-end: 3 }
    &[span$="+4"], &[span$="-3"], &[span="4"] { --grid-column-end: 4 }
    &[span$="+5"], &[span$="-4"], &[span="5"] { --grid-column-end: 5 }
    &[span$="+6"], &[span$="-5"], &[span="6"] { --grid-column-end: 6 }
    &[span$="+7"], &[span$="-6"], &[span="7"] { --grid-column-end: 7 }
    &[span$="+8"], &[span$="-7"], &[span="8"] { --grid-column-end: 8 }
    &[span$="+9"], &[span$="-8"], &[span="9"] { --grid-column-end: 9 }
    &[span$="+10"], &[span$="-9"], &[span="10"] { --grid-column-end: 10 }
    &[span$="+11"], &[span$="-10"], &[span="11"] { --grid-column-end: 11 }
    &[span$="+12"], &[span$="-11"], &[span="12"] { --grid-column-end: 12 }
    &[span$="-12"] { --grid-column-end: 13 }

    /* connect vars */
    &[span] { grid-column-end: span var(--grid-column-end) }
    &[span*="+"], &[span*="-"], &[span*=".."] { grid-column-start: var(--grid-column-start) }
    &[span*="-"], &[span*=".."] { grid-column-end: var(--grid-column-end) }
    &[span="row"] { grid-column: 1 / -1 }
  }


  /* for window width <= 600 */
  @media only screen and (max-width: 600px) {
    &[columns-s="1"] { --grid-template-columns: repeat(1, 1fr) }
    &[columns-s="2"] { --grid-template-columns: repeat(2, 1fr) }
    &[columns-s="3"] { --grid-template-columns: repeat(3, 1fr) }
    &[columns-s="4"] { --grid-template-columns: repeat(4, 1fr) }
    &[columns-s="5"] { --grid-template-columns: repeat(5, 1fr) }
    &[columns-s="6"] { --grid-template-columns: repeat(6, 1fr) }
    &[columns-s="7"] { --grid-template-columns: repeat(7, 1fr) }
    &[columns-s="8"] { --grid-template-columns: repeat(8, 1fr) }
    &[columns-s="9"] { --grid-template-columns: repeat(9, 1fr) }
    &[columns-s="10"] { --grid-template-columns: repeat(10, 1fr) }
    &[columns-s="11"] { --grid-template-columns: repeat(11, 1fr) }
    &[columns-s="12"] { --grid-template-columns: repeat(12, 1fr) }

    & > z-grid-cell {
      /* span-s=start... */
      &[span-s^="1"] { --grid-column-start: 1 }
      &[span-s^="2"] { --grid-column-start: 2 }
      &[span-s^="3"] { --grid-column-start: 3 }
      &[span-s^="4"] { --grid-column-start: 4 }
      &[span-s^="5"] { --grid-column-start: 5 }
      &[span-s^="6"] { --grid-column-start: 6 }
      &[span-s^="7"] { --grid-column-start: 7 }
      &[span-s^="8"] { --grid-column-start: 8 }
      &[span-s^="9"] { --grid-column-start: 9 }
      &[span-s^="10"] { --grid-column-start: 10 }
      &[span-s^="11"] { --grid-column-start: 11 }
      &[span-s^="12"] { --grid-column-start: 12 }

      /* span-s=...+width, span-s=...-end */
      &[span-s$="+1"], &[span-s="1"] { --grid-column-end: 1 }
      &[span-s$="+2"], &[span-s$="-1"], &[span-s="2"] { --grid-column-end: 2 }
      &[span-s$="+3"], &[span-s$="-2"], &[span-s="3"] { --grid-column-end: 3 }
      &[span-s$="+4"], &[span-s$="-3"], &[span-s="4"] { --grid-column-end: 4 }
      &[span-s$="+5"], &[span-s$="-4"], &[span-s="5"] { --grid-column-end: 5 }
      &[span-s$="+6"], &[span-s$="-5"], &[span-s="6"] { --grid-column-end: 6 }
      &[span-s$="+7"], &[span-s$="-6"], &[span-s="7"] { --grid-column-end: 7 }
      &[span-s$="+8"], &[span-s$="-7"], &[span-s="8"] { --grid-column-end: 8 }
      &[span-s$="+9"], &[span-s$="-8"], &[span-s="9"] { --grid-column-end: 9 }
      &[span-s$="+10"], &[span-s$="-9"], &[span-s="10"] { --grid-column-end: 10 }
      &[span-s$="+11"], &[span-s$="-10"], &[span-s="11"] { --grid-column-end: 11 }
      &[span-s$="+12"], &[span-s$="-11"], &[span-s="12"] { --grid-column-end: 12 }
      &[span-s$="-12"] { --grid-column-end: 13 }

      /* connect vars */
      &[span-s] { grid-column-end: span var(--grid-column-end) }
      &[span-s*="+"], &[span-s*="-"], &[span-s*=".."] { grid-column-start: var(--grid-column-start) }
      &[span-s*="-"], &[span-s*=".."] { grid-column-end: var(--grid-column-end) }
      &[span-s="row"] { grid-column: 1 / -1 }
    }
  }

  /* for window width >= 1600 */
  @media only screen and (min-width: 1599px) {
    &[columns-l="1"] { --grid-template-columns: repeat(1, 1fr) }
    &[columns-l="2"] { --grid-template-columns: repeat(2, 1fr) }
    &[columns-l="3"] { --grid-template-columns: repeat(3, 1fr) }
    &[columns-l="4"] { --grid-template-columns: repeat(4, 1fr) }
    &[columns-l="5"] { --grid-template-columns: repeat(5, 1fr) }
    &[columns-l="6"] { --grid-template-columns: repeat(6, 1fr) }
    &[columns-l="7"] { --grid-template-columns: repeat(7, 1fr) }
    &[columns-l="8"] { --grid-template-columns: repeat(8, 1fr) }
    &[columns-l="9"] { --grid-template-columns: repeat(9, 1fr) }
    &[columns-l="10"] { --grid-template-columns: repeat(10, 1fr) }
    &[columns-l="11"] { --grid-template-columns: repeat(11, 1fr) }
    &[columns-l="12"] { --grid-template-columns: repeat(12, 1fr) }

    & > z-grid-cell {
      /* span-l=start... */
      &[span-l^="1"] { --grid-column-start: 1 }
      &[span-l^="2"] { --grid-column-start: 2 }
      &[span-l^="3"] { --grid-column-start: 3 }
      &[span-l^="4"] { --grid-column-start: 4 }
      &[span-l^="5"] { --grid-column-start: 5 }
      &[span-l^="6"] { --grid-column-start: 6 }
      &[span-l^="7"] { --grid-column-start: 7 }
      &[span-l^="8"] { --grid-column-start: 8 }
      &[span-l^="9"] { --grid-column-start: 9 }
      &[span-l^="10"] { --grid-column-start: 10 }
      &[span-l^="11"] { --grid-column-start: 11 }
      &[span-l^="12"] { --grid-column-start: 12 }

      /* span-l=...+width, span-l=...-end */
      &[span-l$="+1"], &[span-l="1"] { --grid-column-end: 1 }
      &[span-l$="+2"], &[span-l$="-1"], &[span-l="2"] { --grid-column-end: 2 }
      &[span-l$="+3"], &[span-l$="-2"], &[span-l="3"] { --grid-column-end: 3 }
      &[span-l$="+4"], &[span-l$="-3"], &[span-l="4"] { --grid-column-end: 4 }
      &[span-l$="+5"], &[span-l$="-4"], &[span-l="5"] { --grid-column-end: 5 }
      &[span-l$="+6"], &[span-l$="-5"], &[span-l="6"] { --grid-column-end: 6 }
      &[span-l$="+7"], &[span-l$="-6"], &[span-l="7"] { --grid-column-end: 7 }
      &[span-l$="+8"], &[span-l$="-7"], &[span-l="8"] { --grid-column-end: 8 }
      &[span-l$="+9"], &[span-l$="-8"], &[span-l="9"] { --grid-column-end: 9 }
      &[span-l$="+10"], &[span-l$="-9"], &[span-l="10"] { --grid-column-end: 10 }
      &[span-l$="+11"], &[span-l$="-10"], &[span-l="11"] { --grid-column-end: 11 }
      &[span-l$="+12"], &[span-l$="-11"], &[span-l="12"] { --grid-column-end: 12 }
      &[span-l$="-12"] { --grid-column-end: 13 }

      /* connect vars */
      &[span-l] { grid-column-end: span var(--grid-column-end) }
      &[span-l*="+"], &[span-l*="-"], &[span-l*=".."] { grid-column-start: var(--grid-column-start) }
      &[span-l*="-"], &[span-l*=".."] { grid-column-end: var(--grid-column-end) }
      &[span-l="row"] { grid-column: 1 / -1 }
    }
  }
}
